.titlebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 2rem;
}

.titlebox > h5 {
  font-style: italic;
  font-weight: 500;

  margin-top: 0.3rem;
}

.links {
  display: flex;
}

.link {
  margin: 1em;
}
