.file {
  display: inline-block;
  font-size: 0.9em;
  padding: 1px 6px;
  border-radius: 0.375rem;
  border: 1px solid #0077ff;
  color: #0077ff;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
.file.active {
  background-color: #0077ff;
  color: white;
}

.comparison {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.comparison > svg {
  opacity: 0.3;
}

.optimization {
  display: flex;
  margin: 1rem 0;
  padding: 1rem;
  background: #0e1116;
  color: white;
  border-radius: 0.375rem;
  font-weight: 300;
}

.content-container {
  max-width: 90rem;
  padding-left: max(env(safe-area-inset-left), 1.5rem);
  padding-right: max(env(safe-area-inset-right), 1.5rem);
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: flex-end;
}

.headimg {
  height: 7rem;
  display: inline-block;
  margin: 1rem 1rem 0 1rem;
}

.headline {
  font-size: 3.125rem;
  font-size: min(4.375rem, max(8vw, 2.5rem));
  font-weight: 700;
  font-feature-settings: initial;
  letter-spacing: -0.12rem;
  margin-left: -0.2rem;
  margin-top: 3.4rem;
  line-height: 1.1;
}

.subtitle {
  font-size: 1.3rem;
  font-size: min(1.3rem, max(3.5vw, 1.2rem));
  font-feature-settings: initial;
  line-height: 1.6;
}

.links {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.links > * {
  margin: 1rem;
}

.link {
  color: currentcolor !important;
  text-decoration: none !important;
  font-weight: 600;
}

.gombo {
  background-size: cover;
  background-position: center;
  color: #fff;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  height: 50vh;
  aspect-ratio: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gombo > h3 {
  text-shadow: 1px 1px 5px black;
}

@media screen and (max-width: 1200px) {
  .gombo {
    min-height: 300px;
    width: 100%;
    aspect-ratio: auto;
  }
}

.sanrossore {
  position: absolute;
  right: 1.5rem;
  bottom: 0.6rem;
}

.sanrossore > a {
  color: #ccc;
  font-size: 0.8rem;
  font-style: italic;
  text-decoration: none;
}
